.htmlerror {
    .error-info {
        .url {
            font-size: 1.0em;
            font-weight: 100;
            color: $gray-600;
        }

        .homeurl {
            margin-top: 50px;
        }
    }
}
