.rtl.list {

    main {
        padding: 200px 50px 0 10px;
    }

    .topics {
        padding-left: 16px;
        padding-right: 0;

        ul {
            float: right;

            li {
                float: right;

                a {
                    float: right;

                    .icon {
                        right: auto;
                        left: 0;
                        transform: rotate(180deg);
                    }

                    .text {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}
