.nlapp-dashboard {
    min-width: 800px;
}

.nlapp-dashboard h2 {
    font-size: 2.4em;
    color: darkorange;
}

.nlapp-dashboard h3 {
    font-size: 1.6em;
}

.nlapp-dashboard .translations {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 14px 8px 4px 8px;
}

    .nlapp-dashboard .translations .legend {
        margin-bottom: 8px;
    }

    .nlapp-dashboard .translations .legend ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .nlapp-dashboard .translations .legend li {
        float: left;
        width: auto;
        vertical-align: middle;
    }

    .nlapp-dashboard .translations .legend div {
        float: left;
        margin: 4px;
        font-size: 0.8em;
        line-height: 1.0em;
        color: darkgray;
    }

    .nlapp-dashboard .translations .legend div:first-child {
        width: 12px;
        height: 12px;
        margin-left: 8px;
        border-radius: 6px;
        opacity: 0.8;
    }

    .nlapp-dashboard .translations .legend .filled div:first-child {
        background-color: green;
    }

    .nlapp-dashboard .translations .legend .missing div:first-child {
        background-color: red;
    }

    .nlapp-dashboard .translations .legend .empty div:first-child {
        background-color: darkorange;
    }

    .nlapp-dashboard .translations .activate {
        color: #8d869b;
        background-color: #413659;
        border: 1px solid #ada6bb;
        border-radius: 4px;
        padding: 3px 8px;
    }

    .nlapp-dashboard .translations .activate:hover {
        color: #fff;
    }

    .nlapp-dashboard .translations .table {
        border: 1px solid #eee;
        border-radius:3px;
        border-bottom: none;
        min-width: 760px;
    }

        .nlapp-dashboard .translations .table > .row {
            width: 100%;
        }

        .nlapp-dashboard .translations .table .row .cell {
            border-bottom: 1px solid #eee;
            background-color:#eee;
            padding: 2px 0 2px 4px;
        }

        .nlapp-dashboard .translations .table .row a {
            padding-left: 10px;
            font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif !important;
            background-color: #eee;
        }

        .nlapp-dashboard .translations .table .row .cell:nth-child(2) {
            padding-left: 80px;
            background-color: #fff;
        }

                .nlapp-dashboard .translations .table .row .cell table {
                    width: 100%;
                    min-width: 720px;
                }

                    .nlapp-dashboard .translations .table .row .cell table td {
                        width: 120px;
                        min-width: 100px;
                    }

                        .nlapp-dashboard .translations .table .row .cell table td:first-child {
                            min-width: 300px;
                        }

                        .nlapp-dashboard .translations .table .row .cell table td:last-child {
                            width: auto;
                        }



.nlapp-dashboard a {
    text-decoration: underline;
}


.level-1 a {
    margin-left: 0px;
}

.level-2 a {
    margin-left: 12px;
}

.level-3 a {
    margin-left: 24px;
}

.level-4 a {
    margin-left: 36px;
}

.level-5 a {
    margin-left: 48px;
}

table.page-properties {
    font-size: 0.9em;
}

table.page-properties tbody td {
    border: none;
    padding: 2px 0;
}

.translated-true {
    color: green;
}

.translated-false {
    color: red;
}

/* empty */
.translated- {
    color: darkorange;
}

.nested-prop {
    color: #444;
    font-size: 0.8em;
}

.errors {
    color: red;
    font-weight: bold;
    font-style:italic;
}