<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  
  <section alias="TheDevDashboard">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Developer dashboard">
      <control addPanel="true" panelCaption="">/app_plugins/TheDashboard/TheDevDashboard.html</control>
    </tab>
  </section>
  
  <!--<section alias="TheDashboard">
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Welcome">
      <control addPanel="true" panelCaption="">/app_plugins/TheDashboard/TheDashboard.html</control>
    </tab>
  </section>-->
  
  <section alias="Welkom">
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Welkom">
      <control>
        /app_plugins/NlappWelcomeDashboard/NlappWelcomeDashboard.html
      </control>
    </tab>
  </section>

  <section alias="NLapp Dashboard">
    <areas>
      <area>content</area>
    </areas>
    <tab caption="NLapp">
      <control>
        /app_plugins/NLappDashboard/NLappDashboard.html
      </control>
    </tab>
  </section>

  <section alias="UmbracoModelsBuilder">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Models Builder">
      <control>
        /App_Plugins/ModelsBuilder/modelsbuilder.htm
      </control>
    </tab>
  </section>
  
  <section alias="UmbracoHealthCheck">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Health Check">
      <control>
        views/dashboard/developer/healthcheck.html
      </control>
    </tab>
  </section>
  
  <section alias="RedirectUrlManagement">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Redirect URL Management">
      <control>
        views/dashboard/developer/redirecturls.html
      </control>
    </tab>
  </section>

  <section alias="usyncBackOffice">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="uSync BackOffice">
      <control>/App_Plugins/usync/uSyncDashboard.html</control>
    </tab>
  </section>
</dashBoard>
