<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<Examine>
  
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <add name="NlappInternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
           supportUnpublished="false"
           supportProtected="false"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

        <!-- default external indexer, which excludes protected and unpublished pages-->
        <add name="ExternalIndexer"
             useTempStorage="Sync"
             type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"/>

        <add name="NlappExternalIndexer"
             useTempStorage="Sync"
             type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"/>
    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="NlappExternalSearcher">
    <providers>
      <add name="InternalSearcher" 
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
        
      <add name="InternalMemberSearcher" 
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" 
           enableLeadingWildcard="true"/>

      <add name="NlappInternalSearcher" 
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           useTempStorage="Sync"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>      
      
      <add name="ExternalSearcher"
           useTempStorage="Sync"
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine" />
      
      <add name="NlappExternalSearcher" 
           useTempStorage="Sync"
           type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine" />

    </providers>
  </ExamineSearchProviders>

</Examine>
