@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.InfoPaginaLink>
@using NLappCMS.Models


@{
    Layout = "MasterNLapp.cshtml";
    
    int contentId = Model.Content.InhoudKiezer.First().Id;
    var linkedInfoPagina = (InfoPagina)Umbraco.TypedContent(contentId);
}

<section>
    @Html.Partial("InfoPagina", linkedInfoPagina);
</section>