<div ng-show="node.translationState.length>0">
    <table class="page-properties">
        <tbody>
            <tr ng-repeat="ts in node.translationState">
                <td>{{ ts.propName }} <span ng-show="ts.nestedPropName" class="nested-prop">({{ts.nestedPropName}})</span></td>
                <td ng-repeat="state in ts.status" class="translated-{{state.isTranslated}}">
                    {{ state.language }}
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
