<div class="row level-{{node.page.level}}">

    <div class="cell {{node.page.cssClass}}">
        <a href="#{{node.page.routePath}}">{{node.page.name}}</a>
    </div>

    <div class="cell">
        <ng-include src="'../app_plugins/nlappdashboard/templates/translations-property.template.html'"></ng-include>
    </div>
</div>

<!-- childs -->
<div ng-repeat="node in node.childs" class="row level-{{node.page.level}}">
    <ng-include src="'../app_plugins/nlappdashboard/templates/translations-page.template.html'"></ng-include>
</div>

